.container {
  height: 100vh;
}

.content {
  background: #fff;
  padding: 30px;
}

.logo-container {
  float: left;
  width: 100px;
}

.logo {
  max-height: 62px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
